.weather-container {
    background: url('/assets/img/angular-weather-background.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 90vh;
    padding-top: 5rem;
    text-align: center;
    color: white;
}

.input {
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 30rem;
    height: 2rem;
    text-align: center;
    margin: 1rem 0;
}

.submit {
    color: white;
    background: rgb(19, 180, 19);
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    width: 15rem;
    height: 2rem;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    padding-top: 1rem;
}