<div class="weather-container">
  <h1>Hello!</h1>
  <h2>Welcome to the Angular Weather App</h2>
  <p>Search for a location to get weather information from the API</p>
  <form class="search-form" [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)" >
    <input type="text" name="location" class="input" id="weatherLocation" placeholder="Type a location here" formControlName="location">
    <button type="submit" class="submit">Search for weather</button>
  </form>

  <div class="results-container" *ngIf="this.weatherData" >
    <div class="current-weather">
      <h3>Current weather for {{ this.weatherData?.location.name }}, {{ this.weatherData?.location.region }}</h3>
    </div>
    <div class="forecasted-weather">
      <h3>Forecast for the rest of today:</h3>
    </div>
  </div>
</div>